footer{
    height: 80px;
    background: #f2f2f2;
    padding-top: 20px;
    border-top: 1px solid gray;
    box-shadow: 2px 2px 15px #b3bdc6;
}
.wrap{
    width: 1152px;
    margin: auto;
    /*overflow: hidden;*/
}
.left{
    float: left;
}
.left ul{
    display: inline-block;
}
.left ul li{
    display: inline-block;
    font-size: 14px;
}
.left ul li a{
    color: gray;
}
.left ul li a:hover{
    color: black;
}

.left ul li+li{
    margin-left: 20px;
}
.copyright{
    margin: 10px 0;
    font-size: 12px;
}

.right{
    float: right;
}

.weixin{
    display: inline-block;
    margin-right: 60px;
    text-align: center;
}
.weixin img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.weixin span{
    display: block;
}

.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear:both;
}

/*.clearfix:after{*/
    /*content: '';*/
    /*display: block;*/
    /*height: 0;*/
    /*clear:both;*/
    /*visibility: hidden;*/
/*}*/
