/*global setting*/
body{
    font-family: "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
    color: black;
    background: #f7f7f7;
}

ul, li{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/*icon setting*/
@font-face {
    font-family: 'iconfont';  /* project id 683052 */
    src: url('//at.alicdn.com/t/font_683052_0gicf9f83us7nwmi.eot');
    src: url('//at.alicdn.com/t/font_683052_0gicf9f83us7nwmi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_683052_0gicf9f83us7nwmi.woff') format('woff'),
    url('//at.alicdn.com/t/font_683052_0gicf9f83us7nwmi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_683052_0gicf9f83us7nwmi.svg#iconfont') format('svg');
}

.icon{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: '\e7b7';
    margin-left: -10px;
}
.icon-search:hover{
    cursor: pointer;
}
.icon-car:before {
    content: '\e601';
}
.icon-notice:before {
    content: '\e605';
}
.icon-arrow:before {
    content: '\e61f';
    position: absolute;
    left: 180px;
}

.icon-feedback:before {
    content: '\e65e';
}
.icon-problem:before {
    content: '\e60f';
}
.icon-dload:before {
    content: '\eac3';
}
.icon-goTop:before {
    content: '\e64e';
}
.icon-a:before {
    content: '\e607';
}
.icon-b:before {
    content: '\e619';
}
.icon-c:before {
    content: '\e631';
}
.icon-d:before {
    content: '\e602';
}
.icon-e:before {
    content: '\e655';
}
.icon-cancel:before {
    content: '\e62f';
    float: right;
}
.icon-cancel:hover {
    color: red;
}





/*header*/
header{
    height: 72px;
    /*border-bottom: 1px solid rgba(177, 177, 177, 0.6);*/
    background: #fff;
    box-shadow: 2px 2px 15px #b3bdc6;

}
header ul li a:hover{
    font-weight: bold;
    cursor: pointer;
}

.logo{
    float: left;
    margin: 0 18px 0 24px;
    height: 72px;
}

.search, .user{
    /*display: inline-block;*/
    float: left;
}

header ul{
    line-height: 72px;
    /*display: inline-block;*/
    float: left;
}
header ul li{
    display: inline-block;
    margin-right: 30px;
}
.search{
    line-height: 72px;
    margin-left: 30px;
}
.search input{
    width: 300px;
    border: 1px solid #b3bdc6;
    border-width: 0 0 1px 0;
    outline: none;
    padding-bottom: 10px;
}
input::-webkit-input-placeholder{
    text-align: center;
}

    /*用户中心*/
.user{
    float: right;
    line-height: 72px;
    margin-right: 30px;
    position: relative;
}
@media screen and (max-width:1350px){
    header{
        width: 1350px;
    }
    .search input{
        width: 200px;
    }
    .user{
        float: left;
        line-height: 72px;
        position: relative;
        margin-left: 20px;
        display: inline-block;
    }
}

.app, .car, .profile{
    display: inline-block;
}
.app{
    position: relative;
}

.scan{
    display: none;
    position: absolute;
    width: 304px;
    height: 152px;
    right: 0;
    background: white;
    border-radius: 10px;
    font-size: 12px;
    z-index: 1;
}
.scan img{
    float: left;
    width: 108px;
    height: 108px;
    margin: 22px;
}
.scan .download p{
    float: left;
    height: 8px;
    line-height: 8px;
    margin-top: 22px;
}
.scan .download a{
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 3px 15px;
    margin: 4px 0;
    width: 83px;
    color: #e9e9e9;
    background: #505050;
    border-radius: 21px;
}

.car{
    width: 90px;
    height: 40px;
    line-height: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 0 10px 0 10px;
    margin: 0 20px;
    text-align: center;
}
.car span{
    margin-left: 5px;
}

.user .sign-in {
    /*height: 72px;*/
    width: 75px;
    margin-left: 20px;

    float: right;
    position: relative;
}

/*.user .profile{*/
    /*height: 72px;*/
    /*width: 40px;*/
    /*margin-left: 20px;*/

    /*float: right;*/
    /*position: relative;*/
/*}*/
/*.profile img{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: -20px;*/
    /*margin-left: -20px;*/

    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 20px;*/
/*}*/



/*menu*/
.middle{
    width: 100%;
    padding: 40px 0;
    height: 444px;
    /*background: lightblue;*/
    background: -webkit-linear-gradient(rgba(161, 21, 255, 0.1), #f7f7f7);
    background: -o-linear-gradient(rgba(161, 21, 255, 0.1), #f7f7f7);
    background: -moz-linear-gradient(rgba(161, 21, 255, 0.1), #f7f7f7);
    background: linear-gradient(rgba(161, 21, 255, 0.1), #f7f7f7);
}
.container{
    width: 1152px;
    height: 444px;
    margin: 0 auto;
    position: relative;
}
.menu{
    padding: 10px;
    width: 216px;
    height: 420px;
    border-radius: 10px 0 0 10px;
    left: 0;
    background: #2b333b;
}

.item{
    height: 60px;
    line-height: 60px;
    padding-left: 16px;
}
.item a{
    color: #b1b1b1;
}
.sub-menu{
    width: 650px;
    height: 440px;
    background: white;
    position: absolute;
    left: 216px;
    top: 0px;
    z-index: 2;
    display: none;
}


.banners{
    width: 936px;
    height: 312px;
    background: gray;
    position: absolute;
    top:0;
    left: 216px;
    border-radius: 0 10px 10px 0;
}
.banner{
    width: 936px;
    height: 312px;
    position: absolute;
}
.banner img{
    display: none;
    width: 100%;
    height: 100%;
}
.banner .act{
    display: block;
}
.dots .active{
    background: #f0f0f0;
}
.dots{
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.dots span{
    width:12px;
    height: 12px;
    display: inline-block;

    background: #585858;
    cursor:pointer;
    margin-top: 10px;
    border-radius: 6px;
}
.pathBanner{
    width: 936px;
    height: 128px;
    position: absolute;
    top: 312px;
    left: 216px;
    background: white;
    overflow: hidden;
    text-align: center;
}
.pathBanner .pathItem{
    float: left;
    width: 130px;
    margin: 28px;
}
.desc{
    font-size: 11px;
    color: #b1b1b1;
}

/*Courses*/
.courses-practice, .courses-freshman{
    width: 1152px;
    height: 300px;
    margin: 0 auto;
}
.headline{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
}

.courses{
    margin: 20px 0 20px 0;
}
.courses .course+.course{
    margin-left: 18px;
}
.course{
    float: left;
}
.course img{
    width: 216px;
    height: 120px;
    border-radius: 10px;
    background: url(../img/loading.gif) 50% no-repeat;

}
.info{
    width: 216px;
}
.info .h3{
    margin: 0 auto;
    font-size: 16px;
}
.info .info-detail{
    margin: 10px 10px 10px 0;
}
.info .info-detail span{
    margin: 10px 10px 10px 0;
}


.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear:both;
}




/*side*/
.side{
    position: fixed;
    right: 0;
    bottom: 50px;
}
.feedback, .problem, .dload, .goTop{
    width: 50px;
    height: 50px;
    line-height: 40px;
    background: #eaeaea;
    text-align: center;
    font-size: 12px;
}
.side div span{
    display: none;
}

/*alert form*/
.backdrop{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.7;
    background-size: cover;
}

.sign-form{
    display: none;
    width: 400px;
    height: 300px;
    background: #fafafa;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    position: absolute;
    text-align: center;
}
.sign-head{
    width: 360px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid lightgray;

}
.sign-head span{
    margin: 20px;
}
.sign-head span:hover{
    cursor: pointer;
    color: red;
}

.sign-form .sign-input{
    width: 300px;
    margin: 0 auto;
}
.sign-form .sign-input input{
    width: 270px;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
    padding: 0 15px;
}

.sign-input div{
    height: 24px;
}
.sign-form button{
    width: 300px;
    height: 50px;
    background: red;
    color: white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}